*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    width: 100%;
    background: linear-gradient(to top, rgb(233, 14, 14),rgb(233, 10, 222));
}

.container{
    height: 100px;
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#input{
    height: 40px;
    width: 200px;
    outline: none;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    padding: 0 20px;
}

#passwordTypeChanger{
    height: 40px;
    width: 40px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 20px;
    color: teal;
    cursor: pointer;
}